IMPORT LIBRARY

In [1]:
import pandas as pd
import math
import numpy as np

OPEN DATASET

In [2]:
df = pd.read_excel('A:/Documents/DSLS 2021/DSLS Project/DSLS2021_DJPK_Kemenkeu_1/Data DJPK/APBD_2019_clean.xlsx')
df1 = pd.read_excel('A:/Documents/DSLS 2021/DSLS Project/DSLS2021_DJPK_Kemenkeu_1/Data DJPK/APBD_2020_clean.xlsx')
df2 = pd.read_excel('A:/Documents/DSLS 2021/DSLS Project/DSLS2021_DJPK_Kemenkeu_1/Data DJPK/APBD_2021_clean.xlsx')
df3 = pd.read_excel('A:/Documents/DSLS 2021/DSLS Project/DSLS2021_DJPK_Kemenkeu_1/Data DJPK/Realisasi_2019_clean.xlsx')
df4 = pd.read_excel('A:/Documents/DSLS 2021/DSLS Project/DSLS2021_DJPK_Kemenkeu_1/Data DJPK/Realisasi_2020_clean.xlsx')

In [3]:
df.head(1)

,id,Akun Analisis,Kodepemda,Namakegiatan,Namaprogram,standarjenis,standarkelompok,standarpemda,standarutama,Tahunanggaran,Nilaianggaran
0,0,41. PAD,1.0,Pendapatan,Non Program,411. Pajak Daerah,41. Pendapatan Asli Daerah,Provinsi Aceh,4. Pendapatan Daerah,2019,1.509791e+12

In [4]:
df1.head(1)

,id,Akun Analisis,Kodepemda,Namakegiatan,Namaprogram,standarjenis,standarkelompok,standarpemda,standarutama,Tahunanggaran,Nilaianggaran
0,0,41. PAD,1.0,Pendapatan,Non Program,411. Pajak Daerah,41. Pendapatan Asli Daerah,Provinsi Aceh,4. Pendapatan Daerah,2020,1.617439e+12

In [5]:
df2.head(1)

,id,Akun Analisis,Kodepemda,Namakegiatan,Namaprogram,standarjenis,standarkelompok,standarpemda,standarutama,Tahunanggaran,Nilaianggaran
0,0,41. PAD,1.0,Pendapatan,Non Program,411. Pajak Daerah,41. Pendapatan Asli Daerah,Provinsi Aceh,4. Pendapatan Daerah,2021,1.374556e+12

In [6]:
df3.head(1)

,id,Akun Analisis,Kodepemda,Namakegiatan,Namaprogram,standarjenis,standarkelompok,standarpemda,standarutama,nilaianggaran
0,0,41. PAD,01.00,Non Kegiatan,Non Program,411. Pajak Daerah,41. Pendapatan Asli Daerah,Provinsi Aceh,4. Pendapatan Daerah,1.409252e+12

In [7]:
df4.head(1)

,id,Akun Analisis,Kodepemda,Namakegiatan,Namaprogram,standarjenis,standarkelompok,standarpemda,standarutama,nilaianggaran
0,0,NaN,13.37,Perhitungan Fihak Ketiga Badan Pengelolaan Keu...,Non Program,NaN,NaN,Kota Surabaya,NaN,2.221547e+11

DROP COLUMNS

In [8]:
df = df.drop(['id', 'Namaprogram', 'standarjenis', 'standarkelompok', 'standarutama', 'Tahunanggaran'], axis = 1)
df1 = df1.drop(['id', 'Namaprogram', 'standarjenis', 'standarkelompok', 'standarutama', 'Tahunanggaran'], axis = 1)
df2 = df2.drop(['id', 'Namaprogram', 'standarjenis', 'standarkelompok', 'standarutama', 'Tahunanggaran'], axis = 1)
df3 = df3.drop(['id', 'Namaprogram', 'standarjenis', 'standarkelompok', 'standarutama'], axis = 1)
df4 = df4.drop(['id', 'Namaprogram', 'standarjenis', 'standarkelompok', 'standarutama'], axis = 1)

In [9]:
df['Tahun'] = 2019
df1['Tahun'] = 2020
df2['Tahun'] = 2021
df3['Tahun'] = 2019
df4['Tahun'] = 2020

LOWER WORD

In [10]:
df['Namakegiatan'] = df['Namakegiatan'].str.lower()
df1['Namakegiatan'] = df1['Namakegiatan'].str.lower()
df2['Namakegiatan'] = df2['Namakegiatan'].str.lower()
df3['Namakegiatan'] = df3['Namakegiatan'].str.lower()
df4['Namakegiatan'] = df4['Namakegiatan'].str.lower()

DROP NAMA KEGIATAN == all

In [11]:
df = df.loc[(df['Namakegiatan'] != 'all')]
df1 = df1.loc[(df1['Namakegiatan'] != 'all')]
df2 = df2.loc[(df2['Namakegiatan'] != 'all')]
df3 = df3.loc[(df3['Namakegiatan'] != 'all')]
df4 = df4.loc[(df4['Namakegiatan'] != 'all')]

In [12]:
df.loc[(df['Namakegiatan'] == 'all')]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [13]:
df1.loc[(df1['Namakegiatan'] == 'all')]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [14]:
df2.loc[(df2['Namakegiatan'] == 'all')]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [15]:
df3.loc[(df3['Namakegiatan'] == 'all')]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, nilaianggaran, Tahun]
Index: []

In [16]:
df4.loc[(df4['Namakegiatan'] == 'all')]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, nilaianggaran, Tahun]
Index: []

DROP NILAI ANGGARAN <= 100000

In [17]:
df = df.loc[(df['Nilaianggaran'] > 100000)]
df1 = df1.loc[(df1['Nilaianggaran'] > 100000)]
df2 = df2.loc[(df2['Nilaianggaran'] > 100000)]
df3 = df3.loc[(df3['nilaianggaran'] > 100000)]
df4 = df4.loc[(df4['nilaianggaran'] > 100000)]

In [18]:
df.loc[(df['Nilaianggaran'] <= 100000)]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [19]:
df1.loc[(df1['Nilaianggaran'] <= 100000)]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [20]:
df2.loc[(df2['Nilaianggaran'] <= 100000)]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, Nilaianggaran, Tahun]
Index: []

In [21]:
df3.loc[(df3['nilaianggaran'] <= 100000)]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, nilaianggaran, Tahun]
Index: []

In [22]:
df4.loc[(df4['nilaianggaran'] <= 100000)]

Empty DataFrame
Columns: [Akun Analisis, Kodepemda, Namakegiatan, standarpemda, nilaianggaran, Tahun]
Index: []

DROPPING NULL DATA

In [23]:
df = df.dropna(subset = ['Namakegiatan'])
df1 = df1.dropna(subset = ['Namakegiatan'])
df2 = df2.dropna(subset = ['Namakegiatan'])
df3 = df3.dropna(subset = ['Namakegiatan'])
df4 = df4.dropna(subset = ['Namakegiatan'])

In [24]:
df.isna().sum()

Akun Analisis    0
Kodepemda        0
Namakegiatan     0
standarpemda     0
Nilaianggaran    0
Tahun            0
dtype: int64

In [25]:
df1.isna().sum()

Akun Analisis    0
Kodepemda        0
Namakegiatan     0
standarpemda     0
Nilaianggaran    0
Tahun            0
dtype: int64

In [26]:
df2.isna().sum()

Akun Analisis    0
Kodepemda        0
Namakegiatan     0
standarpemda     0
Nilaianggaran    0
Tahun            0
dtype: int64

In [27]:
df3.isna().sum()

Akun Analisis    0
Kodepemda        0
Namakegiatan     0
standarpemda     0
nilaianggaran    0
Tahun            0
dtype: int64

In [28]:
df4.isna().sum()

Akun Analisis    1
Kodepemda        0
Namakegiatan     0
standarpemda     0
nilaianggaran    0
Tahun            0
dtype: int64

In [29]:
df['Namakegiatan'] = df['Namakegiatan'].astype(str)
df1['Namakegiatan'] = df1['Namakegiatan'].astype(str)
df2['Namakegiatan'] = df2['Namakegiatan'].astype(str)
df3['Namakegiatan'] = df3['Namakegiatan'].astype(str)
df4['Namakegiatan'] = df4['Namakegiatan'].astype(str)

PUNCTUATION REMOVAL

In [30]:
import string
import re

def remove_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

# Pada Nama Kegiatan
df['Namakegiatan'] = df['Namakegiatan'].apply(remove_punctuation)
df1['Namakegiatan'] = df1['Namakegiatan'].apply(remove_punctuation)
df2['Namakegiatan'] = df2['Namakegiatan'].apply(remove_punctuation)
df3['Namakegiatan'] = df3['Namakegiatan'].apply(remove_punctuation)
df4['Namakegiatan'] = df4['Namakegiatan'].apply(remove_punctuation)

WORD TOKENIZE

In [31]:
from nltk.tokenize import word_tokenize

In [32]:
# Pada Nama Kegiatan
df['Namakegiatan'] = df['Namakegiatan'].apply(word_tokenize)
df1['Namakegiatan'] = df1['Namakegiatan'].apply(word_tokenize)
df2['Namakegiatan'] = df2['Namakegiatan'].apply(word_tokenize)
df3['Namakegiatan'] = df3['Namakegiatan'].apply(word_tokenize)
df4['Namakegiatan'] = df4['Namakegiatan'].apply(word_tokenize)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699801 entries, 0 to 701131
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Akun Analisis  699801 non-null  object
 1   Kodepemda      699801 non-null  float64
 2   Namakegiatan   699801 non-null  object
 3   standarpemda   699801 non-null  object
 4   Nilaianggaran  699801 non-null  float64
 5   Tahun          699801 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 37.4+ MB

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670683 entries, 0 to 673285
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Akun Analisis  670683 non-null  object
 1   Kodepemda      670683 non-null  float64
 2   Namakegiatan   670683 non-null  object
 3   standarpemda   670683 non-null  object
 4   Nilaianggaran  670683 non-null  float64
 5   Tahun          670683 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 35.8+ MB

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378611 entries, 0 to 379529
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Akun Analisis  378611 non-null  object
 1   Kodepemda      378611 non-null  float64
 2   Namakegiatan   378611 non-null  object
 3   standarpemda   378611 non-null  object
 4   Nilaianggaran  378611 non-null  float64
 5   Tahun          378611 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 20.2+ MB

In [36]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 635835 entries, 0 to 643894
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Akun Analisis  635835 non-null  object
 1   Kodepemda      635835 non-null  object
 2   Namakegiatan   635835 non-null  object
 3   standarpemda   635835 non-null  object
 4   nilaianggaran  635835 non-null  float64
 5   Tahun          635835 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 34.0+ MB

In [37]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519164 entries, 0 to 526578
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Akun Analisis  519163 non-null  object
 1   Kodepemda      519164 non-null  object
 2   Namakegiatan   519164 non-null  object
 3   standarpemda   519164 non-null  object
 4   nilaianggaran  519164 non-null  float64
 5   Tahun          519164 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 27.7+ MB

REMOVE STOP WORDS

In [38]:
from nltk.corpus import stopwords
stop_words = stopwords.words('indonesian')

stop_words.extend(['kegiatan', 'program', 'drpd', 'yg', 'sarana', 'prasarana', 'fasilitas', 'bina', 'tingkat', 'layan'])

In [39]:
# Pada Nama Kegiatan
df['Namakegiatan'] = df['Namakegiatan'].apply(lambda x: [i for i in x if i not in stop_words])
df1['Namakegiatan'] = df1['Namakegiatan'].apply(lambda x: [i for i in x if i not in stop_words])
df2['Namakegiatan'] = df2['Namakegiatan'].apply(lambda x: [i for i in x if i not in stop_words])
df3['Namakegiatan'] = df3['Namakegiatan'].apply(lambda x: [i for i in x if i not in stop_words])
df4['Namakegiatan'] = df4['Namakegiatan'].apply(lambda x: [i for i in x if i not in stop_words])

In [40]:
df

,Akun Analisis,Kodepemda,Namakegiatan,standarpemda,Nilaianggaran,Tahun
0,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.509791e+12,2019
1,41. PAD,1.00,[pendapatan],Provinsi Aceh,2.886440e+10,2019
2,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.969350e+11,2019
3,41. PAD,1.00,[pendapatan],Provinsi Aceh,7.460386e+11,2019
4,41. PAD,1.01,[non],Kab. Aceh Barat,1.630089e+10,2019
...,...,...,...,...,...,...
701126,66. Pengeluaran Pembiayaan Lainnya,24.20,[non],Kab. Manggarai Timur,1.000000e+09,2019
701127,66. Pengeluaran Pembiayaan Lainnya,24.21,[non],Kab. Sabu Raijua,2.900000e+10,2019
701128,66. Pengeluaran Pembiayaan Lainnya,24.22,[non],Kab. Malaka,2.500000e+09,2019
701129,66. Pengeluaran Pembiayaan Lainnya,25.01,[non],Kab. Kepulauan Tanimbar,2.531600e+10,2019
701131,66. Pengeluaran Pembiayaan Lainnya,29.07,[non],Kab. Belitung Timur,1.040000e+09,2019

In [41]:
df1

,Akun Analisis,Kodepemda,Namakegiatan,standarpemda,Nilaianggaran,Tahun
0,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.617439e+12,2020
1,41. PAD,1.00,[pendapatan],Provinsi Aceh,3.379314e+10,2020
2,41. PAD,1.00,[pendapatan],Provinsi Aceh,2.023865e+11,2020
3,41. PAD,1.00,[pendapatan],Provinsi Aceh,7.707312e+11,2020
4,41. PAD,1.01,[non],Kab. Aceh Barat,1.808626e+10,2020
...,...,...,...,...,...,...
673281,66. Pengeluaran Pembiayaan Lainnya,24.17,"[belanja, langsung]",Kab. Nagekeo,1.500000e+09,2020
673282,66. Pengeluaran Pembiayaan Lainnya,24.22,[non],Kab. Malaka,1.000000e+10,2020
673283,66. Pengeluaran Pembiayaan Lainnya,25.01,[non],Kab. Kepulauan Tanimbar,3.330168e+10,2020
673284,66. Pengeluaran Pembiayaan Lainnya,26.01,[non],Kab. Biak Numfor,4.109020e+10,2020
673285,66. Pengeluaran Pembiayaan Lainnya,29.07,[non],Kab. Belitung Timur,1.000000e+09,2020

In [42]:
df2

,Akun Analisis,Kodepemda,Namakegiatan,standarpemda,Nilaianggaran,Tahun
0,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.374556e+12,2021
1,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.213355e+10,2021
2,41. PAD,1.00,[pendapatan],Provinsi Aceh,1.823856e+11,2021
3,41. PAD,1.00,[pendapatan],Provinsi Aceh,8.326078e+11,2021
4,41. PAD,1.01,"[non, kegiatannon, sub]",Kab. Aceh Barat,2.393480e+10,2021
...,...,...,...,...,...,...
379525,66. Pengeluaran Pembiayaan Lainnya,22.05,"[non, kegiatannon, sub]",Kab. Jembrana,5.400000e+09,2021
379526,66. Pengeluaran Pembiayaan Lainnya,24.09,"[non, kegiatannon, sub]",Kab. Sikka,5.000000e+08,2021
379527,66. Pengeluaran Pembiayaan Lainnya,24.22,[],Kab. Malaka,4.000000e+09,2021
379528,66. Pengeluaran Pembiayaan Lainnya,31.02,[],Kab. Kepulauan Anambas,1.000000e+09,2021
379529,66. Pengeluaran Pembiayaan Lainnya,33.04,"[non, kegiatannon, sub]",Kab. Mamasa,2.060760e+10,2021

In [43]:
df3

,Akun Analisis,Kodepemda,Namakegiatan,standarpemda,nilaianggaran,Tahun
0,41. PAD,01.00,[non],Provinsi Aceh,1.409252e+12,2019
1,41. PAD,01.00,[non],Provinsi Aceh,1.708769e+10,2019
2,41. PAD,01.00,[non],Provinsi Aceh,1.823856e+11,2019
3,41. PAD,01.00,[non],Provinsi Aceh,1.090187e+12,2019
4,41. PAD,01.01,[non],Kab. Aceh Barat,2.040152e+10,2019
...,...,...,...,...,...,...
643890,66. Pengeluaran Pembiayaan Lainnya,24.21,[non],Kab. Sabu Raijua,2.900000e+10,2019
643891,66. Pengeluaran Pembiayaan Lainnya,24.22,[non],Kab. Malaka,3.223171e+09,2019
643892,66. Pengeluaran Pembiayaan Lainnya,26.00,[non],Provinsi Papua,5.387846e+10,2019
643893,66. Pengeluaran Pembiayaan Lainnya,26.01,[non],Kab. Biak Numfor,3.798515e+10,2019
643894,66. Pengeluaran Pembiayaan Lainnya,29.07,[non],Kab. Belitung Timur,6.710000e+08,2019

In [44]:
df4

,Akun Analisis,Kodepemda,Namakegiatan,standarpemda,nilaianggaran,Tahun
0,NaN,13.37,"[perhitungan, fihak, ketiga, badan, pengelolaa...",Kota Surabaya,2.221547e+11,2020
3,41. PAD,01.00,[non],Provinsi Aceh,1.477991e+12,2020
4,41. PAD,01.00,[non],Provinsi Aceh,8.159970e+09,2020
5,41. PAD,01.00,[non],Provinsi Aceh,1.817008e+11,2020
6,41. PAD,01.00,[non],Provinsi Aceh,9.029240e+11,2020
...,...,...,...,...,...,...
526574,66. Pengeluaran Pembiayaan Lainnya,24.21,[non],Kab. Sabu Raijua,4.518883e+09,2020
526575,66. Pengeluaran Pembiayaan Lainnya,24.22,[non],Kab. Malaka,1.008976e+10,2020
526576,66. Pengeluaran Pembiayaan Lainnya,26.00,[non],Provinsi Papua,8.733509e+10,2020
526577,66. Pengeluaran Pembiayaan Lainnya,26.01,[non],Kab. Biak Numfor,9.357000e+08,2020
526578,66. Pengeluaran Pembiayaan Lainnya,26.12,[non],Kab. Keerom,3.498267e+06,2020

STEMMING WORD INDONESIA

In [45]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import swifter

# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# stemming process
df['Namakegiatan_stem'] = df['Namakegiatan'].swifter.apply(lambda x : [stemmer.stem(y) for y in x])
df1['Namakegiatan_stem'] = df1['Namakegiatan'].swifter.apply(lambda x : [stemmer.stem(y) for y in x])
df2['Namakegiatan_stem'] = df2['Namakegiatan'].swifter.apply(lambda x : [stemmer.stem(y) for y in x])
df3['Namakegiatan_stem'] = df3['Namakegiatan'].swifter.apply(lambda x : [stemmer.stem(y) for y in x])
df4['Namakegiatan_stem'] = df4['Namakegiatan'].swifter.apply(lambda x : [stemmer.stem(y) for y in x])

Pandas Apply:   0%|          | 0/699801 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/670683 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/378611 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/635835 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/519164 [00:00<?, ?it/s]

In [46]:
df = df[['Akun Analisis', 'Namakegiatan', 'Namakegiatan_stem','Kodepemda', 'standarpemda', 'Tahun', 'Nilaianggaran']]
df1 = df1[['Akun Analisis', 'Namakegiatan', 'Namakegiatan_stem','Kodepemda', 'standarpemda', 'Tahun', 'Nilaianggaran']]
df2 = df2[['Akun Analisis', 'Namakegiatan', 'Namakegiatan_stem','Kodepemda', 'standarpemda', 'Tahun', 'Nilaianggaran']]
df3 = df3[['Akun Analisis', 'Namakegiatan', 'Namakegiatan_stem','Kodepemda', 'standarpemda', 'Tahun', 'nilaianggaran']]
df4 = df4[['Akun Analisis', 'Namakegiatan', 'Namakegiatan_stem','Kodepemda', 'standarpemda', 'Tahun', 'nilaianggaran']]

In [47]:
df

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2019,1.509791e+12
1,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2019,2.886440e+10
2,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2019,1.969350e+11
3,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2019,7.460386e+11
4,41. PAD,[non],[non],1.01,Kab. Aceh Barat,2019,1.630089e+10
...,...,...,...,...,...,...,...
701126,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.20,Kab. Manggarai Timur,2019,1.000000e+09
701127,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.21,Kab. Sabu Raijua,2019,2.900000e+10
701128,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.22,Kab. Malaka,2019,2.500000e+09
701129,66. Pengeluaran Pembiayaan Lainnya,[non],[non],25.01,Kab. Kepulauan Tanimbar,2019,2.531600e+10
701131,66. Pengeluaran Pembiayaan Lainnya,[non],[non],29.07,Kab. Belitung Timur,2019,1.040000e+09

In [48]:
df1

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2020,1.617439e+12
1,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2020,3.379314e+10
2,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2020,2.023865e+11
3,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2020,7.707312e+11
4,41. PAD,[non],[non],1.01,Kab. Aceh Barat,2020,1.808626e+10
...,...,...,...,...,...,...,...
673281,66. Pengeluaran Pembiayaan Lainnya,"[belanja, langsung]","[belanja, langsung]",24.17,Kab. Nagekeo,2020,1.500000e+09
673282,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.22,Kab. Malaka,2020,1.000000e+10
673283,66. Pengeluaran Pembiayaan Lainnya,[non],[non],25.01,Kab. Kepulauan Tanimbar,2020,3.330168e+10
673284,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.01,Kab. Biak Numfor,2020,4.109020e+10
673285,66. Pengeluaran Pembiayaan Lainnya,[non],[non],29.07,Kab. Belitung Timur,2020,1.000000e+09

In [49]:
df2

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2021,1.374556e+12
1,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2021,1.213355e+10
2,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2021,1.823856e+11
3,41. PAD,[pendapatan],[dapat],1.00,Provinsi Aceh,2021,8.326078e+11
4,41. PAD,"[non, kegiatannon, sub]","[non, kegiatannon, sub]",1.01,Kab. Aceh Barat,2021,2.393480e+10
...,...,...,...,...,...,...,...
379525,66. Pengeluaran Pembiayaan Lainnya,"[non, kegiatannon, sub]","[non, kegiatannon, sub]",22.05,Kab. Jembrana,2021,5.400000e+09
379526,66. Pengeluaran Pembiayaan Lainnya,"[non, kegiatannon, sub]","[non, kegiatannon, sub]",24.09,Kab. Sikka,2021,5.000000e+08
379527,66. Pengeluaran Pembiayaan Lainnya,[],[],24.22,Kab. Malaka,2021,4.000000e+09
379528,66. Pengeluaran Pembiayaan Lainnya,[],[],31.02,Kab. Kepulauan Anambas,2021,1.000000e+09
379529,66. Pengeluaran Pembiayaan Lainnya,"[non, kegiatannon, sub]","[non, kegiatannon, sub]",33.04,Kab. Mamasa,2021,2.060760e+10

In [50]:
df3

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,nilaianggaran
0,41. PAD,[non],[non],01.00,Provinsi Aceh,2019,1.409252e+12
1,41. PAD,[non],[non],01.00,Provinsi Aceh,2019,1.708769e+10
2,41. PAD,[non],[non],01.00,Provinsi Aceh,2019,1.823856e+11
3,41. PAD,[non],[non],01.00,Provinsi Aceh,2019,1.090187e+12
4,41. PAD,[non],[non],01.01,Kab. Aceh Barat,2019,2.040152e+10
...,...,...,...,...,...,...,...
643890,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.21,Kab. Sabu Raijua,2019,2.900000e+10
643891,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.22,Kab. Malaka,2019,3.223171e+09
643892,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.00,Provinsi Papua,2019,5.387846e+10
643893,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.01,Kab. Biak Numfor,2019,3.798515e+10
643894,66. Pengeluaran Pembiayaan Lainnya,[non],[non],29.07,Kab. Belitung Timur,2019,6.710000e+08

In [51]:
df4

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,nilaianggaran
0,NaN,"[perhitungan, fihak, ketiga, badan, pengelolaa...","[hitung, fihak, tiga, badan, kelola, uang, paj...",13.37,Kota Surabaya,2020,2.221547e+11
3,41. PAD,[non],[non],01.00,Provinsi Aceh,2020,1.477991e+12
4,41. PAD,[non],[non],01.00,Provinsi Aceh,2020,8.159970e+09
5,41. PAD,[non],[non],01.00,Provinsi Aceh,2020,1.817008e+11
6,41. PAD,[non],[non],01.00,Provinsi Aceh,2020,9.029240e+11
...,...,...,...,...,...,...,...
526574,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.21,Kab. Sabu Raijua,2020,4.518883e+09
526575,66. Pengeluaran Pembiayaan Lainnya,[non],[non],24.22,Kab. Malaka,2020,1.008976e+10
526576,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.00,Provinsi Papua,2020,8.733509e+10
526577,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.01,Kab. Biak Numfor,2020,9.357000e+08
526578,66. Pengeluaran Pembiayaan Lainnya,[non],[non],26.12,Kab. Keerom,2020,3.498267e+06

In [52]:
df['Namakegiatan'] = df['Namakegiatan'].astype(str)
df['Namakegiatan_stem'] = df['Namakegiatan_stem'].astype(str)
df1['Namakegiatan'] = df1['Namakegiatan'].astype(str)
df1['Namakegiatan_stem'] = df1['Namakegiatan_stem'].astype(str)
df2['Namakegiatan'] = df2['Namakegiatan'].astype(str)
df2['Namakegiatan_stem'] = df2['Namakegiatan_stem'].astype(str)
df3['Namakegiatan'] = df3['Namakegiatan'].astype(str)
df3['Namakegiatan_stem'] = df3['Namakegiatan_stem'].astype(str)
df4['Namakegiatan'] = df4['Namakegiatan'].astype(str)
df4['Namakegiatan_stem'] = df4['Namakegiatan_stem'].astype(str)

In [53]:
# join list of token as single document string
import ast

def join_text_list(texts):
    texts = ast.literal_eval(texts)
    return ' '.join([text for text in texts])

df["Namakegiatan_stem"] = df["Namakegiatan_stem"].apply(join_text_list)
df["Namakegiatan"] = df["Namakegiatan"].apply(join_text_list)
df1["Namakegiatan_stem"] = df1["Namakegiatan_stem"].apply(join_text_list)
df1["Namakegiatan"] = df1["Namakegiatan"].apply(join_text_list)
df2["Namakegiatan_stem"] = df2["Namakegiatan_stem"].apply(join_text_list)
df2["Namakegiatan"] = df2["Namakegiatan"].apply(join_text_list)
df3["Namakegiatan_stem"] = df3["Namakegiatan_stem"].apply(join_text_list)
df3["Namakegiatan"] = df3["Namakegiatan"].apply(join_text_list)
df4["Namakegiatan_stem"] = df4["Namakegiatan_stem"].apply(join_text_list)
df4["Namakegiatan"] = df4["Namakegiatan"].apply(join_text_list)

In [54]:
df

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2019,1.509791e+12
1,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2019,2.886440e+10
2,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2019,1.969350e+11
3,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2019,7.460386e+11
4,41. PAD,non,non,1.01,Kab. Aceh Barat,2019,1.630089e+10
...,...,...,...,...,...,...,...
701126,66. Pengeluaran Pembiayaan Lainnya,non,non,24.20,Kab. Manggarai Timur,2019,1.000000e+09
701127,66. Pengeluaran Pembiayaan Lainnya,non,non,24.21,Kab. Sabu Raijua,2019,2.900000e+10
701128,66. Pengeluaran Pembiayaan Lainnya,non,non,24.22,Kab. Malaka,2019,2.500000e+09
701129,66. Pengeluaran Pembiayaan Lainnya,non,non,25.01,Kab. Kepulauan Tanimbar,2019,2.531600e+10
701131,66. Pengeluaran Pembiayaan Lainnya,non,non,29.07,Kab. Belitung Timur,2019,1.040000e+09

In [55]:
df1

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2020,1.617439e+12
1,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2020,3.379314e+10
2,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2020,2.023865e+11
3,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2020,7.707312e+11
4,41. PAD,non,non,1.01,Kab. Aceh Barat,2020,1.808626e+10
...,...,...,...,...,...,...,...
673281,66. Pengeluaran Pembiayaan Lainnya,belanja langsung,belanja langsung,24.17,Kab. Nagekeo,2020,1.500000e+09
673282,66. Pengeluaran Pembiayaan Lainnya,non,non,24.22,Kab. Malaka,2020,1.000000e+10
673283,66. Pengeluaran Pembiayaan Lainnya,non,non,25.01,Kab. Kepulauan Tanimbar,2020,3.330168e+10
673284,66. Pengeluaran Pembiayaan Lainnya,non,non,26.01,Kab. Biak Numfor,2020,4.109020e+10
673285,66. Pengeluaran Pembiayaan Lainnya,non,non,29.07,Kab. Belitung Timur,2020,1.000000e+09

In [56]:
df2

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,Nilaianggaran
0,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2021,1.374556e+12
1,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2021,1.213355e+10
2,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2021,1.823856e+11
3,41. PAD,pendapatan,dapat,1.00,Provinsi Aceh,2021,8.326078e+11
4,41. PAD,non kegiatannon sub,non kegiatannon sub,1.01,Kab. Aceh Barat,2021,2.393480e+10
...,...,...,...,...,...,...,...
379525,66. Pengeluaran Pembiayaan Lainnya,non kegiatannon sub,non kegiatannon sub,22.05,Kab. Jembrana,2021,5.400000e+09
379526,66. Pengeluaran Pembiayaan Lainnya,non kegiatannon sub,non kegiatannon sub,24.09,Kab. Sikka,2021,5.000000e+08
379527,66. Pengeluaran Pembiayaan Lainnya,,,24.22,Kab. Malaka,2021,4.000000e+09
379528,66. Pengeluaran Pembiayaan Lainnya,,,31.02,Kab. Kepulauan Anambas,2021,1.000000e+09
379529,66. Pengeluaran Pembiayaan Lainnya,non kegiatannon sub,non kegiatannon sub,33.04,Kab. Mamasa,2021,2.060760e+10

In [57]:
df3

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,nilaianggaran
0,41. PAD,non,non,01.00,Provinsi Aceh,2019,1.409252e+12
1,41. PAD,non,non,01.00,Provinsi Aceh,2019,1.708769e+10
2,41. PAD,non,non,01.00,Provinsi Aceh,2019,1.823856e+11
3,41. PAD,non,non,01.00,Provinsi Aceh,2019,1.090187e+12
4,41. PAD,non,non,01.01,Kab. Aceh Barat,2019,2.040152e+10
...,...,...,...,...,...,...,...
643890,66. Pengeluaran Pembiayaan Lainnya,non,non,24.21,Kab. Sabu Raijua,2019,2.900000e+10
643891,66. Pengeluaran Pembiayaan Lainnya,non,non,24.22,Kab. Malaka,2019,3.223171e+09
643892,66. Pengeluaran Pembiayaan Lainnya,non,non,26.00,Provinsi Papua,2019,5.387846e+10
643893,66. Pengeluaran Pembiayaan Lainnya,non,non,26.01,Kab. Biak Numfor,2019,3.798515e+10
643894,66. Pengeluaran Pembiayaan Lainnya,non,non,29.07,Kab. Belitung Timur,2019,6.710000e+08

In [58]:
df4

,Akun Analisis,Namakegiatan,Namakegiatan_stem,Kodepemda,standarpemda,Tahun,nilaianggaran
0,NaN,perhitungan fihak ketiga badan pengelolaan keu...,hitung fihak tiga badan kelola uang pajak daerah,13.37,Kota Surabaya,2020,2.221547e+11
3,41. PAD,non,non,01.00,Provinsi Aceh,2020,1.477991e+12
4,41. PAD,non,non,01.00,Provinsi Aceh,2020,8.159970e+09
5,41. PAD,non,non,01.00,Provinsi Aceh,2020,1.817008e+11
6,41. PAD,non,non,01.00,Provinsi Aceh,2020,9.029240e+11
...,...,...,...,...,...,...,...
526574,66. Pengeluaran Pembiayaan Lainnya,non,non,24.21,Kab. Sabu Raijua,2020,4.518883e+09
526575,66. Pengeluaran Pembiayaan Lainnya,non,non,24.22,Kab. Malaka,2020,1.008976e+10
526576,66. Pengeluaran Pembiayaan Lainnya,non,non,26.00,Provinsi Papua,2020,8.733509e+10
526577,66. Pengeluaran Pembiayaan Lainnya,non,non,26.01,Kab. Biak Numfor,2020,9.357000e+08
526578,66. Pengeluaran Pembiayaan Lainnya,non,non,26.12,Kab. Keerom,2020,3.498267e+06

In [59]:
df.to_excel('APBD_2019.xlsx')
df1.to_excel('APBD_2020.xlsx')
df2.to_excel('APBD_2021.xlsx')
df3.to_excel('Realisasi_2019.xlsx')
df4.to_excel('Realisasi_2020.xlsx')